* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: #f1f5f8;
	color: #222;
}

.booklist {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display: grid;
	gap: 2rem;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.booklist {
		grid-template-columns: repeat(3, 1fr);
	}
	.book {
		width: 100%;
	}
}
.book {
	background: #fff;
	border-radius: 1rem;
	padding: 2rem;
	width: 300px;
	position: relative;
}
.book img {
	width: 100%;
	object-fit: cover;
}

.number {
	position: absolute;
	top: 0;
	left: 0;
	background: #ff4000;
	color: #fff;
	padding: 0.2rem 1rem;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.book h2 {
	margin-top: 1rem;
	font-size: 1rem;
	line-height: 1.2rem;
}

.book h4 {
	margin-top: 1rem;
	color: #3d3d3d;
	font-size: 0.7rem;
}
